/* Estilo en el archivo estiloinicio.css o un archivo CSS global */
.navbar-nav .btn {
    margin-right: 30px; /* Agrega un margen a la derecha de cada botón */
  
  }
  
  .navbar-nav .btn:last-child {
    margin-right: 0; /* El último botón no tendrá margen a la derecha */
  }

  @media (max-width: 991px) {
    .btn {
      margin: 30px 30px; /* Espacio entre botones */
    }
  }